<!------ Include the above in your HEAD tag ---------->

<div class="container">
  
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" role="login">
          <img src="https://blogdottutendotcl.files.wordpress.com/2015/12/logo-tuten-jpg.jpg?w=786&h=267&crop=1" class="img-responsive" alt="" />
          
          <div *ngIf = "error" class="alert alert-danger" role="alert">{{messageError}}</div>
          
          <input #email="ngModel" [(ngModel)]="user.email" type="email" name="email" placeholder="Correo" required class="form-control input-lg"/>
          
          <input #password="ngModel" [(ngModel)]="user.password" type="password" name="password" class="form-control input-lg" id="password" placeholder="Contraseña" required />
          
          <input #app="ngModel" [(ngModel)]="user.app" type="text" name="app" class="form-control input-lg" id="app" placeholder="APP" required/>
          
          <div class="pwstrength_viewport_progress"></div>
          
          <button type="submit" name="login" class="btn btn-lg btn-primary btn-block">Inicia Sesión</button>
          <div>
            <!-- <a href="#">Crea una cuenta</a> o <a href="#">Recordar contraseña</a> -->
          </div>
          
        </form>
      </section>  
      </div>
      
      <div class="col-md-4"></div>
      

  </div>   
  
  
</div>