<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">
          <img alt="Brand" src="https://blogdottutendotcl.files.wordpress.com/2015/12/logo-tuten-jpg.jpg?w=786&h=267&crop=1" width="80px">
        </a>
        <button *ngIf="isLogged" (click)="logOut()" type="button" class="btn btn-default navbar-btn">Cerrar Sesión</button>
      </div>
    </div>
  </nav>
<div *ngIf = "!isLogged">
    <div class="alert alert-danger" role="alert">Tienes que iniciar sesion</div>
    <a class="btn" [routerLink]="['/login']">Iniciar sesion</a>
</div>

<div *ngIf="isLogged" class="container">
  
  <h2>Listado de datos</h2>
  
  <table id="bookingTable" class="display" style="width:100%">
      <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tiempo de reserva</th>
              <th scope="col">Direccion</th>
              <th scope="col">Precio de reserva</th>
          </tr>
      </thead>
  </table>


</div>
